@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
    --primary-color: 
    #125e75;
    --primary-color-darker: 
    #0f4c64;
    --font: 'Open Sans', sans-serif;
}
*{
    box-sizing: border-box;
    outline: none;
    
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: var(--font);
    font-size: 1.3em;
    line-height: 1.5em;
}
.container{
    width: 100%;
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

input, label, button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

input:focus{
    outline: 1px solid var(--primary-color);
}
button{
    border: none;
    background: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

button:hover{
    background: var(--primary-color-darker);
}

