@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #125e75;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100%;
    width: 100vw;
}

main {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    min-height: 100%;
    max-width: 640px;
    margin: 50px auto;
    padding: 30px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#res {
    width: 100%;
    max-width: 600px;
}